<!DOCTYPE html>
<html>
<head>
    <title>TaskManager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    {# TODO Need to be move to css files #}
    <style>
        body {margin-top: 5vh;}
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
